CSS
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
}

.navbar {
  background-color: #4caf50;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #ffd600;
}

.container {
  text-align: center;
  margin-top: 50px;
}

.container h1 {
  color: #4caf50;
  font-size: 36px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.container p {
  color: #666;
  font-size: 18px;
}

.project {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.project img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.project h2 {
  color: #4caf50;
  font-size: 24px;
  margin-bottom: 10px;
}

.project p {
  color: #666;
  font-size: 16px;
}